<div class="container">
    <div class="row mx-0">
        <h1 class="text-center mb-4">Lista de jugadores</h1>
        <table class="table">
            <thead>
                <tr>
                    <th class="w-25" scope="col">Avatar</th>
                    <th class="w-75" scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                @for(player of players; track $index) {
                    <tr>
                        <td>
                            @if(player.avatar != "string"){
                                <img src="https://localhost:7214/api/Values/jugadores/{{ player.avatar }}" alt="{{player.avatar}}" class="avatar" style="width: 30px; height: 30px;" class="img-fluid">
                            }@else {
                                <img src="/icons/user.svg" alt="Avatar" style="width: 30px; height: 30px;" class="img-fluid">
                            }
                        </td>
                        <td>{{ player.name }}</td>
                    </tr>
                }
            </tbody>
        </table>
        @for(player of players; track $index) {
            
        }
    </div>
</div>
