<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <h4 class="mb-4">Inserta tus datos de jugador</h4>
        <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" formControlName="name">
                 @if(playerForm.get('pokemonName')?.touched && playerForm.get('pokemonName')?.invalid){
                    <div class="text-danger">
                        El nombre es obligatorio.
                    </div>
                }
            </div>
            
            <div class="mb-3">
                <label for="avatar" class="form-label">Avatar</label>
                <input class="form-control" type="file" id="avatar" accept="image/*" formControlName="avatar">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
