<div class="container my-5">
    <h1 class="text-center mb-4">Lista de cartas</h1>
    <div class="row mx-0">
        @for (card of cards; track $index) {
            <div class="col-2">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <p>{{ card.name }}</p>
                        <p>{{ card.hp }}ps</p>
                    </div>
                    <div class="card-body">
                        <p>Damage: {{ card.attack }}</p>
                        <p>Defense: {{ card.block }}</p>
                        <p>Ammo: {{ card.ammo }}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

