@if(player1 && player2){
    <div class="container my-5 border rounded p-5">
        <div class="row">
            <div class="col">
                <h4>Jugador 1</h4>
                <p><img src="https://localhost:7214/api/Values/jugadores/{{ player1.avatar }}" alt="" style="width: 50px; height: 50px;">{{ player1.name }}</p>
            </div>
            <div class="col text-end">
                <h4>Jugador 2</h4>
                <p><img src="https://localhost:7214/api/Values/jugadores/{{ player2.avatar }}" alt="" style="width: 50px; height: 50px;">{{ player2.name }}</p>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-4">
                @if(player1.card){
                    <app-pokemon-card [card]="combatService.combatPlayers[0].card"></app-pokemon-card>
                }
                
            </div>
            @if (turno) {
            <div class="col-2 d-flex flex-column justify-content-center">
                <button class="btn btn-outline-danger mb-2" (click)="attack()">Atacar</button>
                <button class="btn btn-outline-primary mb-2" (click)="defend()">Defender</button>
                <button class="btn btn-outline-success" (click)="reload()">Recargar</button>
            </div>
            <div class="col-2"></div>
            }@else {
            <div class="col-2"></div>
            <div class="col-2 d-flex flex-column justify-content-center">
                <button class="btn btn-outline-danger mb-2" (click)="attack()">Atacar</button>
                <button class="btn btn-outline-primary mb-2" (click)="defend()">Defender</button>
                <button class="btn btn-outline-success" (click)="reload()">Recargar</button>
            </div>
            }
            <div class="col-4">
                @if(player2.card){
                    <app-pokemon-card [card]="combatService.combatPlayers[1].card"></app-pokemon-card>
                }
            </div>
        </div>
    </div>
}

<app-confirmation-modal [idModal]="'finalizar'" [title]="'Ganador'" [message]="'El jugador 1 ha ganado'" (confirmEvent)="finalizarCombate()"></app-confirmation-modal>
